<body>
    

    <div class="container">
        <div class="logo">   
    
            <h1><i class="fa fa-utensils me-3"></i>Flame Grill</h1>
        </div>
        <div class="login-form">
          <h2 class="h2">Welcome</h2>
          <p>Please login to admin dashboard.</p>
          <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>   
            <div class="button-group">
                <button class="btn btn-sign-in" >Log In</button>
        </div>
          </form>   
    
          <p><a href="#">Forgotten your password?</a></p>
        </div>
      </div>
      </body>
